// 🎨 Colors
$color-bg: #f9edd6;
$color-primary: #dba9a6;
$color-accent: #a56938;
$color-light: #fdfdf9;
$color-green: #a8dcab;
$color-purple: #bd92be;
$color-dark: #333;
$color-gray: #666;

// 🖋 Fonts
$font-main: "Merriweather", serif;

// 📐 Spacing & Sizes
$radius-sm: 10px;
$radius-lg: 25px;
$transition-fast: 0.3s ease;
