<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sass sample</title>
    <link rel="stylesheet" type="text/css" href="./scss/style.css" />
  </head>

  <body class="body">
    <div class="btn-container">
      <button class="button-1">Button 1</button>
      <button class="button-2">Button 2</button>
      <button class="button-3">Button 3</button>
      <button class="button-4">Button 4</button>
      <button class="button-5">Button 5</button>
      <button class="button-6">Button 6</button>
      <button class="button-7">Button 7</button>
      <button class="button-8">Button 8</button>
      <button class="button-9">Button 9</button>
      <button class="button-10">Button 10</button>
    </div>

    <div class="form-container">
      <form class="form-1">Form 1</form>
      <form class="form-2">Form 2</form>
      <form class="form-3">Form 3</form>
      <form class="form-4">Form 4</form>
      <form class="form-5">Form 5</form>
      <form class="form-6">Form 6</form>
      <form class="form-7">Form 7</form>
      <form class="form-8">Form 8</form>
      <form class="form-9">Form 9</form>
      <form class="form-10">Form 10</form>
    </div>

    <div class="table-container">
      <table class="table-1">
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
      </table>
      <table class="table-2">
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
      </table>
      <table class="table-3">
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
      </table>
      <table class="table-4">
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
      </table>
      <table class="table-5">
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
      </table>
      <table class="table-6">
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
      </table>
      <table class="table-7">
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
      </table>
      <table class="table-8">
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
      </table>
      <table class="table-9">
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
      </table>
      <table class="table-10">
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
        <tr>
          <td>table 1</td>
          <td>table 1</td>
          <td>table 1</td>
        </tr>
      </table>
    </div>

    <!-- Back Button -->
    <div class="back-btn-container">
      <button class="back-button" onclick="history.back()">← Back</button>
    </div>
  </body>
</html>
