@mixin body {
  background-color: $background-color;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  justify-self: center;
}

@mixin container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10vh;
  padding: 30px;
  border: 5px solid $border-color;
  border-radius: 10px;
  gap: 20px;
  height: auto;
  width: 80vw;
}

@mixin button-1 {
  background-color: $primary-color;
  padding: $padding-sm;
  color: $text-color;
  font-size: $font-size-xs;
  font-weight: $font-weight-light;
}
@mixin button-2 {
  background-color: $secondary-color;
  padding: $padding-md;
  color: $text-color;
  font-size: $font-size-md;
  font-weight: $font-weight-normal;
}
@mixin button-3 {
  background-color: $accent-color;
  padding: $padding-md;
  color: $text-color;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
}
@mixin button-4 {
  background-color: $primary-color;
  padding: $padding-lg;
  color: $link-color;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}
@mixin button-5 {
  background-color: $primary-color;
  padding: $padding-sm;
  color: $text-color;
  font-size: $font-size-xl;
  font-weight: $font-weight-normal;
}
@mixin button-6 {
  background-color: $color1;
  padding: $padding-lg;
  color: $text-color;
  font-size: $font-size-xxl;
  font-weight: $font-weight-bold;
}
@mixin button-7 {
  background-color: $color2;
  padding: $padding-lg;
  color: $text-color;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}
@mixin button-8 {
  background-color: $color3;
  padding: $padding-sm;
  color: $text-color;
  font-size: $font-size-md;
  font-weight: $font-weight-light;
}
@mixin button-9 {
  background-color: $color4;
  padding: $padding-sm;
  color: $text-color;
  font-size: $font-size-3xl;
  font-weight: $font-weight-normal;
}
@mixin button-10 {
  background-color: $color5;
  padding: $padding-md;
  color: $text-color;
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
}

//! forms
@mixin form-1 {
  font-size: $font-size-xs;
  padding: $padding-sm;
  background-color: $primary-color;
  border: $border-xs;
  border-radius: $border-radius-xm;
  color: $text-color;
  justify-content: center;
  justify-content: center;
  align-self: center;
}
@mixin form-2 {
  font-size: $font-size-sm;
  padding: $padding-md;
  background-color: $secondary-color;
  border: $border-sm;
  border-radius: $border-radius-sm;
  color: $text-color;
  justify-content: center;
  align-self: center;
}
@mixin form-3 {
  font-size: $font-size-md;
  padding: $padding-lg;
  background-color: $accent-color;
  border: $border-md;
  color: $text-color;
  justify-content: center;
  align-self: center;
}
@mixin form-4 {
  font-size: $font-size-lg;
  padding: $padding-sm;
  background-color: $color1;
  border: $border-lg;
  border-radius: $border-radius-lg;
  color: $text-color;
  justify-content: center;
  align-self: center;
}
@mixin form-5 {
  font-size: $font-size-xl;
  padding: $padding-md;
  background-color: $color2;
  border: $border-xl;
  border-radius: $border-radius-xl;
  color: $text-color;
  justify-content: center;
  align-self: center;
}
@mixin form-6 {
  font-size: $font-size-xxl;
  padding: $padding-lg;
  background-color: $color3;
  border: $border-sm-dash;
  border-radius: $border-radius-xm;
  color: $text-color;
  justify-content: center;
  align-self: center;
}
@mixin form-7 {
  font-size: $font-size-3xl;
  padding: $padding-sm;
  background-color: $color4;
  border: $border-md-dash;
  border-radius: $border-radius-sm;
  color: $text-color;
  justify-content: center;
  align-self: center;
}
@mixin form-8 {
  font-size: $font-size-xs;
  padding: $padding-md;
  background-color: $color5;
  border: $border-lg-dash;
  border-radius: $border-radius-md;
  color: $text-color;
  justify-content: center;
  align-self: center;
}
@mixin form-9 {
  font-size: $font-size-md;
  padding: $padding-lg;
  background-color: $primary-color;
  border: $border-xl-dash;
  border-radius: $border-radius-lg;
  color: $text-color;
  justify-content: center;
  align-self: center;
}
@mixin form-10 {
  font-size: $font-size-sm;
  padding: $padding-sm;
  background-color: $secondary-color;
  border: $border-xs-dash;
  border-radius: $border-radius-xl;
  color: $text-color;
  justify-content: center;
  align-self: center;
}

//! Tables

@mixin table-1 {
  font-size: $font-size-xs;
  padding: $padding-sm;
  background-color: $color1;
  border: $border-sm;
  border-radius: $border-radius-md;
  color: $text-color;
  text-align: left;
}

@mixin table-2 {
  font-size: $font-size-sm;
  padding: $padding-lg;
  background-color: $primary-color;
  border: $border-lg-dash;
  border-radius: $border-radius-sm;
  color: $text-color;
  text-align: center;
}

@mixin table-3 {
  font-size: $font-size-md;
  padding: $padding-md;
  background-color: $secondary-color;
  border: $border-xs-dash;
  border-radius: $border-radius-lg;
  color: $text-color;
  text-align: right;
}

@mixin table-4 {
  font-size: $font-size-lg;
  padding: $padding-sm;
  background-color: $accent-color;
  border: $border-md;
  border-radius: $border-radius-xl;
  color: $background-color;
  text-align: center;
}

@mixin table-5 {
  font-size: $font-size-xl;
  padding: $padding-md;
  background-color: $color2;
  border: $border-xl;
  border-radius: $border-radius-xm;
  color: $text-color;
  text-align: left;
}

@mixin table-6 {
  font-size: $font-size-xxl;
  padding: $padding-lg;
  background-color: $color3;
  border: $border-sm-dash;
  border-radius: $border-radius-sm;
  color: $text-color;
  text-align: justify;
}

@mixin table-7 {
  font-size: $font-size-3xl;
  padding: $padding-md;
  background-color: $color4;
  border: $border-md-dash;
  border-radius: $border-radius-md;
  color: $text-color;
  text-align: center;
}

@mixin table-8 {
  font-size: $font-size-xs;
  padding: $padding-lg;
  background-color: $color5;
  border: $border-lg;
  border-radius: $border-radius-lg;
  color: $text-color;
  text-align: left;
}

@mixin table-9 {
  font-size: $font-size-md;
  padding: $padding-sm;
  background-color: $primary-color;
  border: $border-xl-dash;
  border-radius: $border-radius-xl;
  color: $background-color;
  text-align: center;
}

@mixin table-10 {
  font-size: $font-size-sm;
  padding: $padding-md;
  background-color: $secondary-color;
  border: $border-xs;
  border-radius: $border-radius-md;
  color: $text-color;
  text-align: right;
}

//? Table tr
@mixin tr-1 {
  background-color: $secondary-color;
  border-bottom: $border-xs;
}

@mixin tr-2 {
  background-color: $color1;
  border-bottom: $border-sm-dash;
}

@mixin tr-3 {
  background-color: $color2;
  border-bottom: $border-md;
}

@mixin tr-4 {
  background-color: $accent-color;
  border-bottom: $border-lg;
  color: $background-color;
}

@mixin tr-5 {
  background-color: $color3;
  border-bottom: $border-xl-dash;
}

//? Table td
@mixin td-1 {
  font-size: $font-size-xs;
  padding: $padding-sm;
  border: $border-xs;
  color: $text-color;
  text-align: left;
  &:hover {
    background-color: $hover-color;
  }
}

@mixin td-2 {
  font-size: $font-size-sm;
  padding: $padding-md;
  border: $border-sm;
  color: $text-color;
  text-align: center;
  &:hover {
    background-color: $hover-color;
  }
}

@mixin td-3 {
  font-size: $font-size-md;
  padding: $padding-lg;
  border: $border-md-dash;
  color: $text-color;
  text-align: right;
  &:hover {
    background-color: $hover-color;
  }
}

@mixin td-4 {
  font-size: $font-size-lg;
  padding: $padding-md;
  border: $border-lg;
  color: $text-color;
  text-align: justify;
  &:hover {
    background-color: $hover-color;
  }
}

@mixin td-5 {
  font-size: $font-size-xl;
  padding: $padding-sm;
  border: $border-xl;
  color: $text-color;
  text-align: center;
  &:hover {
    background-color: $hover-color;
  }
}

@mixin back-button {
  background-color: $secondary-color;
  color: $text-color;
  padding: $padding-md;
  border: $border-xs;
  border-radius: $border-radius-md;
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
