$background-color: #181a1b;
$text-color: #e0e0e0;
$primary-color: #1e90ff;
$secondary-color: #282c34;
$accent-color: #ff9800;
$border-color: #333;
$link-color: #82aaff;
$hover-color: #22262a;

//buttons colors
$color1: rgb(143, 100, 100);
$color2: rgb(82, 153, 204);
$color3: rgb(151, 37, 37);
$color4: rgb(11, 11, 122);
$color5: rgb(58, 212, 58);

// Font Sizes
$font-size-xs: 0.75rem;   
$font-size-sm: 0.875rem;  
$font-size-md: 1rem;   
$font-size-lg: 1.125rem;  
$font-size-xl: 1.25rem;   
$font-size-xxl: 1.5rem;   
$font-size-3xl: 1.875rem; 

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Sizes
$padding-sm: 0.25rem 0.5rem;
$padding-md: 0.5rem 1rem;
$padding-lg: 0.75rem 1.5rem;

// Borders
$border-xs: 1px solid rgb(237, 158, 158);
$border-sm: 3px solid rgb(126, 52, 255);
$border-md: 5px solid rgb(237, 158, 158);
$border-lg: 8px solid rgb(117, 12, 63);
$border-xl: 10px solid rgb(237, 158, 158);
$border-xs-dash: 1px dashed rgb(237, 158, 158);
$border-sm-dash: 3px dashed rgb(126, 52, 255);
$border-md-dash: 5px dashed rgb(237, 158, 158);
$border-lg-dash: 8px dashed rgb(117, 12, 63);
$border-xl-dash: 10px dashed rgb(237, 158, 158);

//Border Radius
$border-radius-xm: 3px;
$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 15px;
$border-radius-xl: 25px;

